@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    /* background: #0c0b0e !important; */
    /* color: gray !important; */
}

.ant-layout-header {
    background-color: white !important;
}

.ant-menu-item {
    font-size: 16px !important;
    font-family: 'Poppins', sans-serif;
}

.ant-menu-item-selected {
    background: #188a50 !important;
    color: white !important;
    gap: '3px';
}

.active {
    background: #188a50;
    color: white;
}

/* .jodit-wysiwyg ul {
    list-style-type: disc;
    padding-left: 40px;
}
.jodit-wysiwyg ol {
    list-style-type: decimal;
    padding-left: 40px;
} */
